* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v2_16 {
    width: 375px;
    height: 667px;
    background: rgba(35,31,66,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v6_28 {
    width: 66px;
    height: 66px;
    background: rgba(55,174,171,1);
    opacity: 1;
    position: absolute;
    top: 177px;
    left: 32px;
    border: 1px solid rgba(255,255,255,1);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
  }
  .v4_21 {
    width: 202px;
    color: rgba(255,255,255,0.800000011920929);
    position: absolute;
    top: 200px;
    left: 122px;
    font-family: Fira Sans;
    font-weight: Italic;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v4_25 {
    width: 202px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 170px;
    left: 122px;
    text-shadow: 1px 1px 0px rgba(0.9607843160629272, 0.41960784792900085, 0.6039215922355652, 1);
    font-family: Fira Sans;
    font-weight: SemiBold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v5_4 {
    width: 125px;
    color: rgba(208,208,208,1);
    position: absolute;
    top: 221px;
    left: 122px;
    font-family: Fira Sans;
    font-weight: SemiBold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v6_85 {
    width: 109px;
    color: rgba(55,174,171,1);
    position: absolute;
    top: 212px;
    left: 232px;
    font-family: Fira Sans;
    font-weight: Bold;
    font-size: 17px;
    opacity: 1;
    text-align: right;
  }
  .v6_86 {
    width: 109px;
    color: rgba(55,174,171,1);
    position: absolute;
    top: 303px;
    left: 232px;
    font-family: Fira Sans;
    font-weight: Bold;
    font-size: 17px;
    opacity: 1;
    text-align: right;
  }
  .v6_87 {
    width: 109px;
    color: rgba(55,174,171,1);
    position: absolute;
    top: 394px;
    left: 232px;
    font-family: Fira Sans;
    font-weight: Bold;
    font-size: 17px;
    opacity: 1;
    text-align: right;
  }
  .v6_88 {
    width: 109px;
    color: rgba(55,174,171,1);
    position: absolute;
    top: 485px;
    left: 232px;
    font-family: Fira Sans;
    font-weight: Bold;
    font-size: 17px;
    opacity: 1;
    text-align: right;
  }
  .v5_5 {
    width: 125px;
    color: rgba(255,255,255,0.800000011920929);
    position: absolute;
    top: 291px;
    left: 122px;
    font-family: Fira Sans;
    font-weight: Italic;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v5_6 {
    width: 219px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 262px;
    left: 122px;
    text-shadow: 1px 1px 0px rgba(0.9607843160629272, 0.41960784792900085, 0.6039215922355652, 1);
    font-family: Fira Sans;
    font-weight: SemiBold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v5_7 {
    width: 125px;
    color: rgba(208,208,208,1);
    position: absolute;
    top: 312px;
    left: 122px;
    font-family: Fira Sans;
    font-weight: SemiBold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v5_10 {
    width: 66px;
    color: rgba(255,255,255,0.800000011920929);
    position: absolute;
    top: 384px;
    left: 122px;
    font-family: Fira Sans;
    font-weight: Italic;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v5_11 {
    width: 103px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 354px;
    left: 122px;
    text-shadow: 1px 1px 0px rgba(0.9607843160629272, 0.41960784792900085, 0.6039215922355652, 1);
    font-family: Fira Sans;
    font-weight: SemiBold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v5_12 {
    width: 125px;
    color: rgba(208,208,208,1);
    position: absolute;
    top: 403px;
    left: 122px;
    font-family: Fira Sans;
    font-weight: SemiBold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v5_15 {
    width: 219px;
    color: rgba(255,255,255,0.800000011920929);
    position: absolute;
    top: 473px;
    left: 122px;
    font-family: Fira Sans;
    font-weight: Italic;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v5_16 {
    width: 219px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 444px;
    left: 122px;
    text-shadow: 1px 1px 0px rgba(0.9607843160629272, 0.41960784792900085, 0.6039215922355652, 1);
    font-family: Fira Sans;
    font-weight: SemiBold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  .v5_17 {
    width: 124px;
    color: rgba(208,208,208,1);
    position: absolute;
    top: 494px;
    left: 122px;
    font-family: Fira Sans;
    font-weight: SemiBold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  .v4_22 {
    width: 54px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 183px;
    left: 39px;
    opacity: 1;
    text-align: center;
  }
  .v6_29 {
    width: 66px;
    height: 66px;
    background: rgba(55,174,171,1);
    opacity: 1;
    position: absolute;
    top: 268px;
    left: 32px;
    border: 1px solid rgba(255,255,255,1);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
  }
  .v6_30 {
    width: 54px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 274px;
    left: 38px;
    opacity: 1;
    text-align: center;
  }
  .v6_31 {
    width: 66px;
    height: 66px;
    background: rgba(55,174,171,1);
    opacity: 1;
    position: absolute;
    top: 359px;
    left: 32px;
    border: 1px solid rgba(255,255,255,1);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
  }
  .v6_33 {
    width: 54px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 365px;
    left: 38px;
    opacity: 1;
    text-align: center;
  }
  .v6_34 {
    width: 66px;
    height: 66px;
    background: rgba(55,174,171,1);
    opacity: 1;
    position: absolute;
    top: 450px;
    left: 32px;
    border: 1px solid rgba(255,255,255,1);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
  }
  .v6_35 {
    width: 54px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 456px;
    left: 38px;
    opacity: 1;
    text-align: center;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  