/*css till verifiktation*/
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
#verify-ticket{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background: transparent;
  top: 36px; 
  left: 60px; 
  font-family: Fira Mono;
  font-weight: Bold;
  font-size: 30px;
  text-align: center;
  border-width:0px;
  border:none;

}

input:active {
  width: auto;
}

#verify-button {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  background: transparent;
  top: 36px; 
  left: 60px; 
  font-family: Fira Mono;
  font-weight: Bold;
  font-size: 18px;
  text-align: center;
  border-width:0px;
  border:none;
  color: white;


  width: 202px;
  color: rgba(255,255,255,1);
  top: 570px;
  left: 91px;
  font-family: Fira Sans;
  font-weight: SemiBold;
  font-size: 22px;
  opacity: 1;
  text-align: center;

}
 /* här börjar verifikationticketstyle*/
#Ticketverification{
  margin-left: 445px;
    margin-top: -650px;
}

 
.v2_30 {
  width: 375px;
  height: 667px;
  background: rgba(35,31,66,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_37 {
  width: 375px;
  height: 344px;
  background: linear-gradient(rgba(245,107,154,1), rgba(177,52,254,0));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10_37 {
  width: 311px;
  height: 450px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 37px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.3400000035762787);
  overflow: hidden;
}
.v2_39 {
  margin-top: -2em;
  width: 311px;
  height: 120px;
  background: rgba(0,0,0,0.029999999329447746);
  opacity: 1;
  position: absolute;
  top: 199px;
  left: 35px;
  overflow: hidden;
}
.v2_40 {
  margin-top: -7px;
  width: 311px;
  height: 66px;
  background: rgba(0,0,0,0.05999999865889549);
  opacity: 1;
  position: absolute;
  top: 313px;
  left: 37px;
  overflow: hidden;
}
.v4_2 {
  width: 311px;
  height: 60px;
  background: rgba(0,0,0,0.11999999731779099);
  opacity: 1;
  position: absolute;
  top: 379px;
  left: 38px;
  overflow: hidden;
}
.v2_41 {
  width: 311px;
  height: 120px;
  background: rgba(0,0,0,0.11999999731779099);
  opacity: 1;
  position: absolute;
  top: 439px;
  left: 37px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v2_42 {
  width: 280px;
  color: rgba(0,0,0,0.4000000059604645);
  position: absolute;
  top: 109px;
  right: -28px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v2_43 {
  width: 281px;
  color: rgba(0,0,0,0.4000000059604645);
  position: absolute;
  top: 199px;
  left: 121px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v2_78 {
  width: 56px;
  color: rgba(0,0,0,0.4000000059604645);
  position: absolute;
  top: 319px;
  left: 105px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v2_73 {
  width: 311px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 424px;
  left: 12px;
  font-family: Libre Barcode 128;
  font-weight: Regular;
  font-size: 101px;
  opacity: 1;
  text-align: center;
}
.v4_3 {
 


    margin-top: -100px;
  width: 311px;
  color: rgba(0,0,0,0.4000000059604645);
  position: absolute;
  top: 550px;
  left: 50px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v2_74 {
  width: 281px;
  color: rgba(245,107,154,1);
  position: absolute;
  top: 139px;
  left: 37px;
  font-family: Sansita One;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v2_75 {
  width: 281px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 228px;
  left: 121px;
  font-family: Fira Sans;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_84 {
  width: 55px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 348px;
  left: 106px;
  font-family: Fira Sans;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4_27 {
  width: 56px;
  color: rgba(0,0,0,0.4000000059604645);
  position: absolute;
  top: 319px;
  left: 4px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v4_28 {
  width: 84px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 348px;
  left: 96px;
  font-family: Fira Sans;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3_2 {
  width: 39px;
  color: rgba(0,0,0,0.4000000059604645);
  position: absolute;
  top: 319px;
  left: 212px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v3_3 {
  width: 54px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 332px;
  left: 212px;
  font-family: Fira Sans;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}


/*css för verifieringen*/

.v610_0 {
  width: 375px;
  height: 667px;
  background: rgba(243,148,64,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v610_1 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 159px;
  left: 97px;
  font-family: Sansita One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v610_2 {
  width: 281px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 198px;
  left: 47px;
  font-family: Fira Sans;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v610_16 {
  width: 310px;
  height: 140px;
  background: rgba(0,0,0,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 310px;
  left: 32px;
  border: 2px solid rgba(35,31,66,1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v610_17 {
  width: 310px;
  height: 60px;
  background: rgba(35,31,66,1);
  opacity: 1;
  position: absolute;
  top: 390px;
  left: 32px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v610_18 {
  width: 202px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 404px;
  left: 86px;
  font-family: Fira Sans;
  font-weight: SemiBold;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v610_19 {
  width: 202px;
  color: rgba(9,8,17,1);
  position: absolute;
  top: 338px;
  left: 86px;
  font-family: Fira Mono;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
