ul {
    list-style-type: none;
    padding: 5;
}



.event-item{
    cursor: pointer;
    margin-top: 1rem;
    border: 10px solid #000000;
    max-width: 500px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.event-item:hover {
    border: 2px double transparent;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    margin-top: 1rem;
}

.ul{
position: absolute;
width: 219px;
height: 0px;
left: 123px;
top: 516px;

border: 1px solid rgba(138, 238, 24, 0.3);
}

ul {
    list-style-type: none;
    padding: 0;
}

.menu-item {
    cursor: pointer;
    margin-top: 1rem;
    border: 2px solid #000000;
    max-width: 250px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.menu-item:hover {
    border: 2px double transparent;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    margin-top: 1rem;
}

