* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v7_2 {

  right: 200px;
  margin-top: 2em;

  width: 375px;
  height: 667px;
  background: rgba(243,148,64,1);
  opacity: 1;
  position: absolute;
  top: 0px;

  overflow: hidden;
}

.eventItem.title{
width: 70px;
height: 69px;
background-repeat: no-repeat;
}

.v7_3 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 159px;
  left: 97px;
  font-family: Sansita One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v7_27 {
  width: 281px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 198px;
  left: 47px;
  font-family: Fira Sans;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v7_9 {
  width: 70px;
  height: 69px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 90px;
  left: 152px;
  overflow: hidden;
}
.v4_25{
  width: 70px;
  height: 69px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_11 {
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 4px;
}
.v7_14 {
  width: 8px;
  height: 7px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 9px;
}
.v7_15 {
  width: 17px;
  height: 17px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 53px;
}
.v7_16 {
  width: 10px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 60px;
}
.v7_17 {
  width: 10px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 0px;
}
.v7_18 {
  width: 10px;
  height: 10px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 40px;
}
.v7_19 {
  width: 6px;
  height: 6px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
}
.v7_20 {
  width: 6px;
  height: 6px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 58px;
}
.v7_21 {
  width: 10px;
  height: 11px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 1px;
}
.v7_22 {
  width: 20px;
  height: 31px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 24px;
}
.v7_23 {
  width: 31px;
  height: 11px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 18px;
}
.v7_26 {
  width: 310px;
  height: 63px;
  background: rgba(0,0,0,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 32px;
  border: 2px solid rgba(35,31,66,1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v610_23 {
  width: 310px;
  height: 59px;
  background: rgba(0,0,0,0.30000001192092896);
  opacity: 1;
  position: absolute;
  top: 427px;
  left: 32px;
  border: 2px solid rgba(35,31,66,1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v7_24 {
  width: 310px;
  height: 60px;
  background: rgba(35,31,66,1);
  opacity: 1;
  position: absolute;
  top: 555px;
  left: 32px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v7_25 {
  width: 202px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 570px;
  left: 91px;
  font-family: Fira Sans;
  font-weight: SemiBold;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v7_28 {
  width: 202px;
  color: rgba(9,8,17,1);
  position: absolute;
  top: 342px;
  left: 86px;
  font-family: Fira Mono;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v610_24 {
  width: 202px;
  color: rgba(9,8,17,1);
  position: absolute;
  top: 443px;
  left: 86px;
  font-family: Fira Mono;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
 /* här börjar verifikationticketstyle*/
#Ticketverification{
  margin-left: 445px;
    margin-top: -650px;
}

 
.v2_30 {
  width: 375px;
  height: 667px;
  background: rgba(35,31,66,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_37 {
  width: 375px;
  height: 344px;
  background: linear-gradient(rgba(245,107,154,1), rgba(177,52,254,0));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10_37 {
  width: 311px;
  height: 450px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 37px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.3400000035762787);
  overflow: hidden;
}
.v2_39 {
  margin-top: -2em;
  width: 311px;
  height: 120px;
  background: rgba(0,0,0,0.029999999329447746);
  opacity: 1;
  position: absolute;
  top: 199px;
  left: 35px;
  overflow: hidden;
}
.v2_40 {
  margin-top: -7px;
  width: 311px;
  height: 66px;
  background: rgba(0,0,0,0.05999999865889549);
  opacity: 1;
  position: absolute;
  top: 313px;
  left: 37px;
  overflow: hidden;
}
.v4_2 {
  width: 311px;
  height: 60px;
  background: rgba(0,0,0,0.11999999731779099);
  opacity: 1;
  position: absolute;
  top: 379px;
  left: 38px;
  overflow: hidden;
}
.v2_41 {
  width: 311px;
  height: 120px;
  background: rgba(0,0,0,0.11999999731779099);
  opacity: 1;
  position: absolute;
  top: 439px;
  left: 37px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.v2_42 {
  width: 280px;
  color: rgba(0,0,0,0.4000000059604645);
  position: absolute;
  top: 109px;
  right: -28px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v2_43 {
  width: 281px;
  color: rgba(0,0,0,0.4000000059604645);
  position: absolute;
  top: 199px;
  left: 121px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v2_78 {
  width: 56px;
  color: rgba(0,0,0,0.4000000059604645);
  position: absolute;
  top: 319px;
  left: 105px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v2_73 {
  width: 311px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 424px;
  left: 12px;
  font-family: Libre Barcode 128;
  font-weight: Regular;
  font-size: 101px;
  opacity: 1;
  text-align: center;
}
.v4_3 {
 


    margin-top: -100px;
  width: 311px;
  color: rgba(0,0,0,0.4000000059604645);
  position: absolute;
  top: 550px;
  left: 50px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v2_74 {
  width: 281px;
  color: rgba(245,107,154,1);
  position: absolute;
  top: 139px;
  left: 37px;
  font-family: Sansita One;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v2_75 {
  width: 281px;
  color: rgba(0,0,0,0.699999988079071);
  position: absolute;
  top: 228px;
  left: 121px;
  font-family: Fira Sans;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_84 {
  width: 55px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 348px;
  left: 106px;
  font-family: Fira Sans;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4_27 {
  width: 56px;
  color: rgba(0,0,0,0.4000000059604645);
  position: absolute;
  top: 319px;
  left: 4px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v4_28 {
  width: 84px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 348px;
  left: 96px;
  font-family: Fira Sans;
  font-weight: SemiBold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3_2 {
  width: 39px;
  color: rgba(0,0,0,0.4000000059604645);
  position: absolute;
  top: 319px;
  left: 212px;
  font-family: Fira Sans;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v3_3 {
  width: 54px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 332px;
  left: 212px;
  font-family: Fira Sans;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
